In [4]:
import os
import configparser
import sys

# 設定の読み込み
config = configparser.ConfigParser()
config_path = "../config.ini"
config.read(config_path)
PROJECT_DIR = config["paths"]["project_dir"]
sys.path.append(PROJECT_DIR)

from src.utils_experiment import OptimLogParser

In [15]:
LOG_DIR = config["paths"]["logs_dir"]
res_files = sorted(os.listdir(LOG_DIR))
res_files

['2024-08-23_16-24-48_Warcraft_3x4_architecture-search_1.log',
 '2024-08-23_16-24-48_Warcraft_3x4_architecture-search_2.log',
 '2024-08-23_16-24-48_Warcraft_3x4_architecture-search_3.log',
 '2024-08-23_16-24-48_Warcraft_3x4_architecture-search_4.log',
 '2024-08-23_16-24-48_Warcraft_3x4_architecture-search_4_combined.log',
 '2024-08-23_22-28-52_Warcraft_3x4_unconstrained.log']

In [16]:
parser = OptimLogParser(os.path.join(LOG_DIR, res_files[0]))
parser.parse_log_file()

print("Experimental settings: ")
print(parser.settings)
print()

print("Initial data: ")
display(parser.initial_data)
print()

print("BO data: ")
display(parser.bo_data)
print()

print(f"Best value: {parser.bo_data["function_value"].max()}")

Experimental settings:
{'name': 'Warcraft_3x4_architecture-search_1', 'device': 'cpu', 'bo_iter': 10000, 'initial_data_size': 10, 'model': {'hidden_unit_size': 64, 'num_hidden_layers': 3}, 'model_optim': {'num_epochs': 1000, 'learning_rate': 0.01}, 'acquisition_optim': {'beta': 0.1, 'num_restarts': 5, 'raw_samples': 20}, 'memo': ''}

Initial data:

,candidate,function_value,final_training_loss
0,"[[ 3 -3 0 -3] [ 0 -3 2 0] [-3 3 2 2]],",-1.529412,-0.275673
1,"[[ 3 -2 -2 3] [-3 -2 2 3] [ 3 -1 2 -3]],",-1.921569,-0.275673
2,"[[-3 -1 0 2] [-2 2 1 0] [-2 -3 0 1]],",-1.960784,-0.275673
3,"[[-2 2 3 0] [-2 -1 -1 0] [-2 -2 -3 -3]],",-1.941176,-0.275673
4,"[[-2 -1 3 1] [-1 2 2 3] [ 1 -3 -3 2]],",-1.960784,-0.275673
5,"[[ 2 2 2 3] [ 2 2 -1 1] [-2 0 3 0]],",-1.815686,-0.275673
6,"[[-1 1 2 -2] [ 1 -1 -1 0] [ 1 3 -3 0]],",-1.980392,-0.275673
7,"[[-1 0 3 -3] [ 1 3 0 2] [-2 -1 -1 3]],",-1.843137,-0.275673
8,"[[-2 -3 0 0] [ 1 2 -3 2] [-2 -3 -3 0]],",-1.803921,-0.275673
9,"[[-2 2 3 -1] [ 2 -1 -1 0] [-1 0 0 3]],",-2.000000,-0.275673

BO data:

,iteration,candidate,acquisition_value,function_value,final_training_loss,iteration_time
0,1,[[-3. 0. -0. 2. 2. -2. 1. -1. -2. 3. 1. ...,-1.606588,-1.980392,-0.866729,5.4711
1,2,[[ 3. -2. -1. -0. 1. 3. -1. -1. -1. 1. 0. ...,-1.827734,-2.000000,-0.292886,1.5437
2,3,[[-3. 0. -2. -2. 2. 2. -3. 2. 2. -1. -1. ...,-1.946742,-1.862745,-1.431138,1.5456
3,4,[[ 1. 0. -2. 1. 1. 1. 1. 1. -1. 0. 1. ...,-1.778510,-2.000000,-1.020792,1.5318
4,5,[[-2. -1. -2. 3. -1. -1. -1. 0. -1. 3. -2. ...,-1.799039,-2.000000,-0.734715,1.5414
...,...,...,...,...,...,...
5587,5588,[[ 2. -3. 2. 3. 2. -1. 2. -1. 1. -3. -0. ...,-1.687863,-1.717647,-1.843782,3.6071
5588,5589,[[-0. 2. -3. 3. 3. 1. -1. 1. -3. -3. -1. ...,-1.211369,-1.627451,-1.750896,3.6786
5589,5590,[[ 2. 2. -1. 2. 2. -2. -3. -0. -1. -3. -2. ...,-1.354014,-1.760784,-1.837872,3.6138
5590,5591,[[-1. 1. -3. 0. -0. -2. 2. 1. -1. -1. 2. ...,-1.827032,-1.843137,-1.781068,3.6274
5591,5592,[[ 3. 3. -1. 3. 2. -2. -1. 3. -3. -2. -2. ...,-1.042468,-1.843137,NaN,NaN

Best value: -1.0392156839370728

In [17]:
parser = OptimLogParser(os.path.join(LOG_DIR, res_files[1]))
parser.parse_log_file()

print("Experimental settings: ")
print(parser.settings)
print()

print("Initial data: ")
display(parser.initial_data)
print()

print("BO data: ")
display(parser.bo_data)
print()

print(f"Best value: {parser.bo_data["function_value"].max()}")

Experimental settings:
{'name': 'Warcraft_3x4_architecture-search_2', 'device': 'cpu', 'bo_iter': 10000, 'initial_data_size': 10, 'model': {'hidden_unit_size': 64, 'num_hidden_layers': 3}, 'model_optim': {'num_epochs': 10000, 'learning_rate': 0.01}, 'acquisition_optim': {'beta': 0.1, 'num_restarts': 5, 'raw_samples': 20}, 'memo': ''}

Initial data:

,candidate,function_value,final_training_loss
0,"[[ 2 0 2 1] [-3 1 1 -1] [ 2 0 -3 3]],",-1.960784,-1.048957
1,"[[-1 3 0 1] [ 3 -2 0 3] [ 3 -2 -2 1]],",-2.000000,-1.048957
2,"[[-2 -2 2 1] [-1 -3 -1 2] [-1 -2 2 2]],",-1.921569,-1.048957
3,"[[-2 -1 0 2] [-3 3 2 1] [-2 1 2 3]],",-1.960784,-1.048957
4,"[[ 3 -3 -2 1] [ 3 -2 -3 -2] [ 3 1 0 -3]],",-1.803921,-1.048957
5,"[[ 1 2 3 3] [ 2 -2 -3 1] [ 0 -3 -3 -3]],",-1.843137,-1.048957
6,"[[-1 0 2 -2] [ 3 -3 1 -1] [ 3 0 2 3]],",-1.921569,-1.048957
7,"[[ 1 1 0 -2] [ 1 0 -1 -3] [-1 0 -3 0]],",-1.823529,-1.048957
8,"[[-2 1 -3 2] [ 3 -1 -1 1] [ 3 3 3 -1]],",-1.843137,-1.048957
9,"[[-2 3 -1 0] [-1 -3 3 -3] [ 0 3 3 -3]],",-1.725490,-1.048957

BO data:

,iteration,candidate,acquisition_value,function_value,final_training_loss,iteration_time
0,1,[[-1. 0. -2. 1. 1. -3. -2. 2. -1. -2. -1. ...,-1.957538,-1.921569,-1.104836,15.6331
1,2,[[ 1. 1. -2. 1. -1. -2. -1. -2. 1. -1. 2. ...,-1.965240,-2.000000,-1.057389,15.6364
2,3,[[-1. -1. 1. 3. -2. -2. 2. 2. 2. -1. -0. ...,-1.824208,-2.000000,0.093133,15.6636
3,4,[[-2. -2. -2. -0. 1. -2. -0. -2. -0. 2. 0. ...,-1.825744,-2.000000,-0.038910,15.6897
4,5,[[ 1. -1. 3. 2. -0. -3. -1. -1. 2. -1. -3. ...,-1.939733,-1.901961,-0.874854,15.7036
...,...,...,...,...,...,...
741,742,[[-3. -1. 0. -1. -0. -2. 0. -3. 1. -3. -3. ...,-2.002616,-1.784314,-0.519370,21.0897
742,743,[[-1. -0. -2. 2. 2. 0. -0. -3. -2. -2. -3. ...,-1.880260,-1.823529,0.746592,21.0990
743,744,[[-3. 2. -1. -3. 1. -0. 1. 1. 2. -2. -0. ...,-1.916851,-1.823529,-0.638357,21.1645
744,745,[[ 0. 1. -1. -1. 1. -2. -2. 3. -1. 2. 1. ...,-1.868689,-2.000000,-0.613403,21.0497
745,746,[[-3. -0. 1. -2. -1. 1. -1. -1. 3. 3. -1. ...,-2.059945,-1.980392,NaN,NaN

Best value: -1.1372548341751099

In [18]:
parser = OptimLogParser(os.path.join(LOG_DIR, res_files[2]))
parser.parse_log_file()

print("Experimental settings: ")
print(parser.settings)
print()

print("Initial data: ")
display(parser.initial_data)
print()

print("BO data: ")
display(parser.bo_data)
print()

print(f"Best value: {parser.bo_data["function_value"].max()}")

Experimental settings:
{'name': 'Warcraft_3x4_architecture-search_3', 'device': 'cpu', 'bo_iter': 10000, 'initial_data_size': 10, 'model': {'hidden_unit_size': 256, 'num_hidden_layers': 5}, 'model_optim': {'num_epochs': 1000, 'learning_rate': 0.01}, 'acquisition_optim': {'beta': 0.1, 'num_restarts': 5, 'raw_samples': 20}, 'memo': ''}

Initial data:

,candidate,function_value,final_training_loss
0,"[[-1 1 -1 -1] [ 2 2 -1 2] [-3 3 1 -3]],",-1.803921,-0.182542
1,"[[ 3 -1 3 1] [ 1 2 2 2] [-1 -1 0 0]],",-2.000000,-0.182542
2,"[[-2 1 2 3] [-2 1 -1 3] [-3 -2 0 0]],",-1.843137,-0.182542
3,"[[ 1 3 1 1] [ 2 -3 3 -1] [-2 0 -3 -1]],",-1.901961,-0.182542
4,"[[ 0 -2 -3 -2] [-3 2 0 -2] [ 0 0 1 2]],",-1.803921,-0.182542
5,"[[ 3 3 2 -2] [ 3 -2 -2 1] [ 3 -1 -2 0]],",-2.000000,-0.182542
6,"[[ 3 -2 -3 2] [ 3 1 0 -1] [ 1 -3 1 1]],",-1.823529,-0.182542
7,"[[ 2 0 3 0] [ 2 2 -3 1] [ 1 -1 1 -1]],",-1.556863,-0.182542
8,"[[-1 1 -1 -3] [-1 -2 2 -2] [ 0 -2 -2 -3]],",-1.803921,-0.182542
9,"[[ 2 -1 -2 -1] [ 1 -2 -2 2] [-1 3 3 -1]],",-1.737255,-0.182542

BO data:

,iteration,candidate,acquisition_value,function_value,final_training_loss,iteration_time
0,1,[[ 1. 3. -0. 2. 1. 0. -2. -0. -1. -1. 2. ...,-1.804985,-2.000000,0.740231,4.2653
1,2,[[-3. 3. 0. -2. 1. -1. 3. 0. 1. -3. 2. ...,-1.660369,-1.960784,0.052682,2.6989
2,3,[[ 1. -1. -2. 2. -1. -2. -2. 3. -0. 2. -1. ...,-1.820300,-2.000000,-0.288611,2.5751
3,4,[[ 1. -1. 3. -3. 1. 2. -1. -1. -2. -2. 2. ...,-1.552971,-1.843137,0.121370,2.5813
4,5,[[ 2. 0. 3. -2. 2. 2. -1. -3. 2. -2. -2. ...,-1.624429,-1.658823,-0.592306,2.5877
...,...,...,...,...,...,...
2117,2118,[[-2. 1. 2. -2. 1. 3. 2. 0. -3. 2. 2. ...,-1.776789,-1.843137,0.712894,10.4272
2118,2119,[[ 2. -3. -1. 2. -0. 2. 1. -1. 1. -2. -3. ...,-1.905204,-1.921569,-0.696734,10.5561
2119,2120,[[-0. -1. -2. -1. 2. 1. 1. 2. -1. 1. -2. ...,-1.820143,-2.000000,-0.533964,10.5417
2120,2121,[[-2. -2. -1. -2. -2. 2. -3. 2. 1. 1. 2. ...,-1.868330,-1.882353,0.221033,10.6421
2121,2122,[[-0. 1. -1. -2. -1. 2. 3. 0. 3. 1. 1. ...,-1.855495,-1.960784,NaN,NaN

Best value: -1.3999998569488525

In [19]:
parser = OptimLogParser(os.path.join(LOG_DIR, res_files[3]))
parser.parse_log_file()

print("Experimental settings: ")
print(parser.settings)
print()

print("Initial data: ")
display(parser.initial_data)
print()

print("BO data: ")
display(parser.bo_data)
print()

print(f"Best value: {parser.bo_data["function_value"].max()}")

Experimental settings:
{'name': 'Warcraft_3x4_architecture-search_4', 'device': 'cpu', 'bo_iter': 10000, 'initial_data_size': 10, 'model': {'hidden_unit_size': 256, 'num_hidden_layers': 5}, 'model_optim': {'num_epochs': 10000, 'learning_rate': 0.01}, 'acquisition_optim': {'beta': 0.1, 'num_restarts': 5, 'raw_samples': 20}, 'memo': ''}

Initial data:

,candidate,function_value,final_training_loss
0,"[[-3 2 3 -1] [ 0 3 2 0] [ 2 2 -2 1]],",-1.980392,0.489263
1,"[[-1 1 0 -3] [ 0 -1 3 -3] [-1 -2 0 1]],",-1.686275,0.489263
2,"[[ 1 0 -2 3] [-2 0 0 -1] [ 3 2 -1 3]],",-2.000000,0.489263
3,"[[ 1 -2 2 3] [-3 -1 -2 -1] [-3 1 -2 2]],",-1.803921,0.489263
4,"[[-2 0 3 -1] [-1 -2 3 3] [ 1 1 2 -3]],",-1.960784,0.489263
5,"[[ 3 -2 -2 3] [-2 3 -3 1] [-2 -3 3 -2]],",-1.901961,0.489263
6,"[[-3 -3 -1 -3] [ 2 2 3 1] [-2 -2 -3 3]],",-1.725490,0.489263
7,"[[ 0 -3 3 1] [ 0 3 3 -1] [ 0 -3 0 -2]],",-1.901961,0.489263
8,"[[ 0 3 -1 -1] [ 1 1 0 -3] [ 3 0 -1 1]],",-1.843137,0.489263
9,"[[ 1 3 -2 0] [ 1 1 -3 -3] [-1 -1 2 0]],",-1.764706,0.489263

BO data:

,iteration,candidate,acquisition_value,function_value,final_training_loss,iteration_time
0,1,[[-2. -1. 1. -1. 0. -2. 1. 2. -3. 1. 3. ...,-1.567247,-1.803921,-0.749713,25.9278
1,2,[[ 1. -1. 2. -3. -1. 2. 3. -0. -2. 2. -1. ...,-1.837324,-1.843137,-0.858967,25.9258
2,3,[[ 3. -3. -1. 3. 1. -1. -1. 1. -3. -0. -2. ...,-1.879565,-1.764706,-0.365352,25.9658
3,4,[[ 1. 2. 3. 2. 2. -1. 3. 1. 1. 2. 2. ...,-1.778325,-2.000000,-0.832032,26.0914
4,5,[[-2. -2. -2. 2. 1. -1. 2. 0. 1. 3. 1. ...,-1.893139,-2.000000,-0.849309,26.0720
...,...,...,...,...,...,...
397,398,[[-2. -1. 1. 3. -2. 3. 1. 1. -3. 2. 0. ...,-1.875690,-1.843137,-0.719906,42.4283
398,399,[[ 1. 3. 2. -1. -1. -0. 2. 0. 1. 2. -2. ...,-1.694946,-2.000000,0.083662,42.5191
399,400,[[ 0. 3. -1. -1. -2. -3. -1. 1. -2. -0. 2. ...,-1.789145,-1.921569,0.426977,42.6461
400,401,[[ 0. 0. -0. -3. 3. 3. 2. -0. -2. 1. -3. ...,-2.042156,-1.823529,-0.062958,42.7091
401,402,[[ 3. -1. 2. -1. 2. -1. -2. -2. -0. -1. 1. ...,-1.795833,-2.000000,NaN,NaN

Best value: -1.298039197921753